################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/A2Adotnet.Client/obj
/src/A2Adotnet.Common/obj
/src/A2Adotnet.Server/obj
